<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<div th:if="false">
	<!--[if lt IE 9]>
	<script src="../../../../../../isy-core/src/main/resources/static/core/js/html5.js"></script>
<![endif]-->
	<!--[if IE 6]>
	<script type="text/javascript" src="../../../../../../isy-core/src/main/resources/static/core/js/DD_belatedPNG.js" ></script>	
	<script type="text/javascript">
		DD_belatedPNG.fix('.fixpng');
	</script>
<![endif]-->
</div>
<title>爱社员——科技兴农，合作致富！</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta charset="utf-8" th:substituteby="core/layout/include/web.head" />
<link th:if="false" href="../../../../../../isy-core/src/main/resources/static/core/css/global.css" rel="stylesheet" />
<link href="../../../../../../isy-core/src/main/resources/static/core/css/comm.home.css" th:href="@{${#ctl.statics}+'/core/css/comm.home.css'(ver=${#ver})}" rel="stylesheet" />
<link href="../../static/web/css/home.css" th:href="@{${#ctl.statics}+'/web/css/home.css'(ver=${#ver})}" rel="stylesheet" />
<script th:if="false" src="../../../../../../isy-core/src/main/resources/static/core/js/jquery.min.js"></script>
<script th:if="false" src="../../../../../../isy-core/src/main/resources/static/core/js/base.js"></script>
<script src="../../static/web/js/index.js" th:src="@{${#ctl.statics}+'/web/js/index.js'(ver=${#ver})}"></script>
<script src="../../../../../../isy-core/src/main/resources/static/core/js/jquery-validation/jquery.validate.min.js" th:src="@{${#ctl.statics}+'/core/js/jquery-validation/jquery.validate.min.js'(ver=${#ver})}"></script>
<script src="../../../../../../isy-core/src/main/resources/static/core/js/jquery-validation/messages_zh.min.js" th:src="@{${#ctl.statics}+'/core/js/jquery-validation/messages_zh.min.js'(ver=${#ver})}"></script>
<script src="../../../../../../isy-core/src/main/resources/static/core/js/jquery-validation/jquery.validate.methods.js" th:src="@{${#ctl.statics}+'/core/js/jquery-validation/jquery.validate.methods.js'(ver=${#ver})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//for ie	
		if ($.support.getSetAttribute == false) {
			$('body').prepend('<div class="update">您现在使用的浏览器版本过低，可能会导致部分图片和信息的缺失。请立即 <a href="http://http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" target="_blank">升级IE浏览器</a> 或者下载其它浏览器，如 <a href="http://www.firefox.com.cn/" target="_blank">Firefox</a> 或 <a href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank">Chrome</a></div>');
			function hideUpdate() {
				$('.update').remove();
			}
			setTimeout(hideUpdate, 3000);
		}
		$("#username").focus();
		$("#loginForm").validate({
			submitHandler : function(form) {
				form.submit();
			},
			errorContainer : "#errTips",
			errorPlacement : function(error, element) {
				switch (element.context.name) {
				case 'username':
					$("#errBox").text("用户名" + error[0].textContent);
					break;
				case 'password':
					$("#errBox").text("密码" + error[0].textContent);
					break;
				case 'validcode':
					$("#errBox").text("验证码" + error[0].textContent);
					break;
				default:
					$("#errBox").text(error[0].textContent);
				}
			}
		});
	});
	// 重新加载图片验证码
	function reloadValidcodeImg() {
		$('#validcodeImg').attr('src', ctl.path + '/servlet/validcodeServlet?v=' + Math.random());
	}
</script>
</head>

<body class="White_bj">
	<div class="head" th:substituteby="core/layout/include/web.header.intro">
		<div class="w1000">
			<div class="logo l">
				<img src="../../../../../../isy-core/src/main/resources/static/core/images/logo.jpg" th:src="@{${#ctl.statics}+'/web/images/sign/logo.jpg'}" width="290" height="55" />
			</div>
			<!--logo_end-->
			<div class="sign r">
				<a href="#" class="blue">登录</a><a href="#">系统介绍</a>
			</div>
			<!--sign_end-->
		</div>
		<!--w1000_end-->
	</div>
	<!--head_end-->
	<div id="scrollPic" class="imgScroll">
		<ul>
			<li th:each="banner : ${indexBanners}">
				<div class="dn" th:if="false"></div> <a href="#" th:href="@{|${banner.content}|}" th:target="|${banner.content == 'javascript:void(0);' ? '' : 'blank'}|">
					<div class="dn" th:if="false"></div> <img src="../../static/web/images/banner/banner05.jpg" th:src="@{${#ctl.operations}+'/web/images/banner/'+${banner.name}}" />
			</a>
			</li>
			<li th:if="false"><a href="javascript:void(0);"><img src="../../static/web/images/banner/banner01.jpg" /> </a></li>
			<li th:if="false"><a href="javascript:void(0);"><img src="../../static/web/images/banner/banner02.jpg" /> </a></li>
			<li th:if="false"><a href="javascript:void(0);"><img src="../../static/web/images/banner/banner03.jpg" /> </a></li>
			<li th:if="false"><a href="javascript:void(0);"><img src="../../static/web/images/banner/banner04.jpg" /> </a></li>
		</ul>
		<div class="switch"></div>
		<div class="sign_con">
			<!--login-->
			<div class="bg"></div>
			<div class="sign_list">
				<form id="loginForm" th:action="@{${#ctl.path}+'/dologin'}" method="post">
					<div class="sign_title">系统登录</div>
					<div class="prompt_nr" id="errTips">
						<div id="errBox" class="Prompt">内容不能为空！</div>
					</div>
					<div class="signnr">
						<div class="sign_name">
							<span class="fixpng"></span> <input name="username" class="required" placeholder="请输入手机号码" tabindex="1" autofocus="autofocus" />
						</div>
						<!--sign_name_end-->
						<div class="password">
							<span class="fixpng"></span> <input type="password" class="required" name="password" placeholder="请输入密码" tabindex="2" />
						</div>
						<!--sign_name_end-->
						<div class="Verification">
							<p>
								<input name="validcode" class="required" tabindex="3" />
							</p>
							<p>
								<img style="height: 40px; margin-top: 1px;" src="../../static/web/images/sign/validcode.jpg" th:src="@{${#ctl.path}+'/servlet/validcodeServlet'}" id="validcodeImg" alt="验证码" onclick="reloadValidcodeImg();" />
							</p>
							<p class="Ver_link">
								<span>看不清</span><a href="javascript:reloadValidcodeImg();">换一张</a>
							</p>
						</div>
						<!--Verification_end-->
						<div class="sign_but">
							<input type="submit" value="登录" class="input_ui-btn l" />
							<div class="dn" th:if="false"></div>
							<a href="#" th:href="@{${#ctl.path}+'/register'}" class="r register">注册</a>
						</div>
						<div class="sign_bot">
							<a href="#" th:href="@{${#ctl.path}+'/recoverpwd'}" class="l">找回密码</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--sign_con_end-->
	</div>
	<!--slider_end-->
	<div class="w1000">
		<div class="Service">
			<dl class="rch">
				<dt>
					<img src="../../static/web/images/sign/sign01.png" th:src="@{${#ctl.statics}+'/web/images/sign/sign01.png'}" width="75" height="75" />
				</dt>
				<dd>
					<h4>日常事务管理</h4>
					<em>专业管理轻松搞定</em>
					<p>
						<!-- <a href="#" th:href="@{${#ctl.path+'/mbr/member/toMemberIn'}}">社员管理</a><i>|</i><a href="#" th:href="@{${#ctl.path+'/shr/acc/toShares'}}">股金管理</a><i>|</i><a href="#" th:href="@{${#ctl.path} +'/sob/books/goSetupPage'}">财务管理</a> -->
						社员管理<i>|</i>股金管理<i>|</i>财务管理
					</p>
				</dd>
			</dl>
			<dl class="Int">
				<dt>
					<img src="../../static/web/images/sign/sign02.png" th:src="@{${#ctl.statics}+'/web/images/sign/sign02.png'}" width="84" height="84" />
				</dt>
				<dd>
					<h4>网络服务对接</h4>
					<em>获取服务快人一步</em>
					<p>
						<!-- <a href="#" th:href="@{${#ctl.path+'/cms/financial/list'}}">金融服务</a><i>|</i> <a href="#" th:href="@{${#ctl.path+'/cms/market/show'}}">网上集市</a> -->
						金融服务<i>|</i>网上集市
					</p>
				</dd>
			</dl>
			<dl class="city">
				<dt>
					<img src="../../static/web/images/sign/sign03.png" th:src="@{${#ctl.statics}+'/web/images/sign/sign03.png'}" width="92" height="60" />
				</dt>
				<dd>
					<h4>惠农资讯速递</h4>
					<em>农业先机一网打尽</em>
					<p>
						<!-- <a href="#" th:href="@{${#ctl.path+'/cms/news/list'}}">农业资讯</a> -->
						农业资讯
					</p>
				</dd>
			</dl>
		</div>
		<!--Service_end-->
		<!--保障-->
		<div class="Security">
			<ul>
				<li style="width: 366px;"><img src="../../static/web/images/sign/sign04.png" th:src="@{${#ctl.statics}+'/web/images/sign/sign04.png'}" width="44" height="51" /><span>
						<h4>数据保障</h4> <em>采用数字签名技术和安全套接层<br /> 协议，确保数据和通信的安全
					</em>
				</span></li>
				<li style="width: 353px;"><img src="../../static/web/images/sign/sign05.png" th:src="@{${#ctl.statics}+'/web/images/sign/sign05.png'}" width="44" height="51" /><span>
						<h4>内控保障</h4> <em>完善的系统安全内部控制制<br /> 度，配备专职安全运维工程师
					</em>
				</span></li>
				<li><img src="../../static/web/images/sign/sign06.png" th:src="@{${#ctl.statics}+'/web/images/sign/sign06.png'}" width="44" height="51" /><span>
						<h4>隐私保障</h4> <em>从流程上确保用户隐私<br /> 不被泄露
					</em>
				</span></li>
			</ul>
		</div>
		<!--Security_end-->
	</div>
	<!--w1000_end-->
	<footer th:substituteby="core/layout/include/web.footer">
		<section id="footer" class="cl">
			<div class="links">
				<p>
					<a href="#">系统介绍</a><i>|</i><a href="#">帮助中心</a><i>|</i><a href="#">联系我们</a><i>|</i><a href="#">常见问题</a>
				</p>
				<p>?2014 普信恒业科技发展(北京)有限公司 京ICP备14014387号</p>
			</div>
			<div class="copyright">
				<p>
					客服电话：<em>400-0636-600</em><a href="mailto:isheyuan@163.com">邮箱 :isheyuan.help@creditease.cn</a>
				</p>
			</div>
		</section>
	</footer>
</body>
</html>
