<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.medicine.mapper.MedicineUsersMapper">
	<resultMap id="baseResultMap" type="com.yhy.medicine.domain.MedicineUsers" extends="com.yhy.core.mapper.BaseMapper.sysResultMap">
		<result column="loginname" property="loginname" jdbcType="VARCHAR" />
		<result column="passwd" property="passwd" jdbcType="VARCHAR" />
		<result column="uname" property="uname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="DECIMAL" />
		<result column="chainid" property="chainid" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findById" parameterType="string" resultMap="baseResultMap">
		select * from t_users where id = #{id}
	</select>
</mapper>
