<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdm.core.mapper.BaseMapper">
	<resultMap id="pkResultMap" type="com.gdm.core.dto.Pk">
		<id column="id" property="id" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="sysResultMap" type="com.gdm.core.dto.Sys" extends="pkResultMap">
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="agency" property="agency" jdbcType="VARCHAR" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="DECIMAL" />
		<result column="modified" property="modified" jdbcType="TIMESTAMP" />
		<result column="version" property="version" jdbcType="DECIMAL" />
		<result column="deletion" property="deletion" jdbcType="DECIMAL" />
		<result column="artifical" property="artifical" jdbcType="DECIMAL" />
		<result column="history" property="history" jdbcType="DECIMAL" />
	</resultMap>
	<resultMap id="treeResultMap" type="com.gdm.core.dto.Tree" extends="sysResultMap">
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="fullname" property="fullname" jdbcType="VARCHAR" />
		<result column="genre" property="genre" jdbcType="VARCHAR" />
		<result column="leaf" property="leaf" jdbcType="DECIMAL" />
		<result column="grade" property="grade" jdbcType="DECIMAL" />
		<result column="ordinal" property="ordinal" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
		<result column="parent_codes" property="parentCodes" jdbcType="VARCHAR" />
		<result column="parent_names" property="parentNames" jdbcType="VARCHAR" />
	</resultMap>
</mapper>
