<!DOCTYPE html>
<html lang="zh-CN" layout:decorator="core/layout/bms.default" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head layout:fragment="head">
<title th:text="${state}=='add'?'用户表：创建':(${state}=='edit'?'用户表：修改':'用户表：查看')">用户表：创建</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta charset="utf-8" th:substituteby="core/layout/include/bms.head" />
<script type="text/javascript">
	$(document).ready(function() {
		$("#eForm").validate();
	});
</script>
</head>
<body id="main">
	<div class="content" layout:fragment="content">
		<div class="ui tabular menu">
			<a class="item" th:href="@{${#ctl.path}+'/medicine/users/list'}" href="bms.medicine.users.list.html">用户表列表</a>
			
			<a class="active item" th:text="${state}=='add'?'用户表创建':(${state}=='edit'?'用户表修改':'用户表查看')">用户表创建</a>
		</div>
		<form id="eForm" th:action="@{${#ctl.path}+'/medicine/users/save'}" th:object="${domain}" action="#" method="post" class="ui error form segment">
			<div th:if="${#fields.hasErrors('*')}" class="ui error message">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
			</div>
			<div>
				<input type="hidden" id="state" name="state" th:value="${state}" />
				<div></div>
				<input type="hidden" th:field="*{id}" />
			</div>
			<div class="required field" th:class="${#fields.hasErrors('loginname')} ? 'required field error' : 'required field'">
				<label>loginname</label>
				<div class="ui icon input">
					<input type="text" class="required" th:field="*{loginname}" />
				</div>
			</div>
			<div class="required field" th:class="${#fields.hasErrors('passwd')} ? 'required field error' : 'required field'">
				<label>passwd</label>
				<div class="ui icon input">
					<input type="text" class="required" th:field="*{passwd}" />
				</div>
			</div>
			<div class="required field" th:class="${#fields.hasErrors('uname')} ? 'required field error' : 'required field'">
				<label>uname</label>
				<div class="ui icon input">
					<input type="text" class="required" th:field="*{uname}" />
				</div>
			</div>
			<div class="required field" th:class="${#fields.hasErrors('sex')} ? 'required field error' : 'required field'">
				<label>sex</label>
				<div class="ui icon input">
					<input type="text" class="required" th:field="*{sex}" />
				</div>
			</div>
			<div class="required field" th:class="${#fields.hasErrors('chainid')} ? 'required field error' : 'required field'">
				<label>chainid</label>
				<div class="ui icon input">
					<input type="text" class="required" th:field="*{chainid}" />
				</div>
			</div>
			<div class="ui buttons">
				<input class="ui positive button" type="submit" value="保存" th:if="${state} == 'add' or ${state} == 'edit'" />
				<div class="or" th:if="${state} == 'add' or ${state} == 'edit'"></div>
				<input class="ui button" type="button" value="返回" onclick="history.go(-1)" />
			</div>
		</form>
	</div>
	<div class="footer">
		<div class="ui divider"></div>
		<div class="item">
			Copyright &copy; 2009-2015 <a href="http://github.com/snxamdf" target="_blank">hongyanyang</a>
			
			- Powered By <a href="http://github.com/snxamdf" target="_blank">SXM V2.0</a>
		</div>
	</div>
</body>
</html>