<!-- 头 -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="shortcut icon" th:href="@{${#ctl.statics}+'/favicon.ico'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/semantic/1.10.4/semantic.min.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/jquery-ui/1.11.2/css/jquery-ui.min.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/jquery-ui/1.11.2/css/jquery-ui.structure.min.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/jquery-ui/1.11.2/css/jquery-ui.theme.min.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/jquery-ui-timepicker/1.5.0/css/jquery-ui-timepicker-addon.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/jquery-ztree/3.5.17/css/zTreeStyle.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/jquery-qtip/2.2.1/css/jquery.qtip.min.css'(ver=${#ver})}" />
<link rel="stylesheet" th:href="@{${#ctl.statics}+'/core/common/css/common.css'(ver=${#ver})}" />
<script th:src="@{${#ctl.statics}+'/core/jquery/1.11.2/js/jquery.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/semantic/1.10.4/semantic.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-ui/1.11.2/js/jquery-ui.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-ui/1.11.2/js/datepicker-zh-CN.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-ui-timepicker/1.5.0/js/jquery-ui-timepicker-addon.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-ui-timepicker/1.5.0/js/jquery-ui-timepicker-zh-CN.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-ztree/3.5.17/js/jquery.ztree.all.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-validation/1.13.1/jquery.validate.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-validation/1.13.1/jquery.validate.defaults.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-validation/1.13.1/jquery.validate.methods.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-validation/1.13.1/messages_zh.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-qtip/2.2.1/js/jquery.qtip.min.js'(ver=${#ver})}"></script>
<script th:src="@{${#ctl.statics}+'/core/jquery-form/3.37.0/js/jquery.form.js'(ver=${#ver})}"></script>
<script type="text/javascript" th:utext="|var ctl={path:'|+${#ctl.path}+|',env:'|+${#ctl.env}+|',profile:'|+${#ctl.profile}+|',uploads:'|+${#ctl.uploads}+|',statics:'|+${#ctl.statics}+|'};|"></script>
